<!DOCTYPE html>
<html>
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href="{{ url_for('static', filename='css/index.css')}}" rel="stylesheet" />
    <title>OWL Ontology</title>
   
</head>
<body>
    
    <textarea readonly>
        {% for entity in entities %}
            {{ entity.type }}: {{ entity.name }}
        {% endfor %}
    </textarea>

    <textarea readonly>
        {% for relationship in relationships %}
            {{ relationship.source }} - {{ relationship.relation }} - {{ relationship.target }}
        {% endfor %}
    </textarea>
    <div class="btn">
    <button><a href="/add_subclass">Добавить класс</a></button>
    <button><a href="/add_individuals">Добавить экземпляр</a></button>
    <button><a href="/update_class_name">Изменить класс</a></button>
    <button><a href="/update_individuals_name">Изменить экземпляр</a></button>
    <button><a href="/query_diseases">Запросы</a></button>
    </div>
</body>
</html>